<a href="https://colab.research.google.com/github/jacksontenorio8/DataAnalisty01/blob/main/Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def exibe_nome_curso():
    print("Seja um analista de Dados")

In [ ]:
exibe_nome_curso()

Seja um analista de Dados

In [ ]:
x = exibe_nome_curso()
print(x)

Seja um analista de Dados
None

In [ ]:
def exibe_nome(a):
    print(a)

In [ ]:
exibe_nome("Jackson")

Jackson

In [7]:
def soma(a, b):
    calc = a + b
    return calc

In [8]:
soma(16, 9)

25

In [13]:
def calc_salario_liquido(vl_salario):
    desc_ir = vl_salario * 0.07
    desc_inss = vl_salario * 0.11
    desc_outros = vl_salario * 0.02
    tot_descontos = desc_ir + desc_inss + desc_outros
    sal_liquido = vl_salario - tot_descontos

    print("CÁLCULO DO SALÁRIO LÍQUIDO!!!")
    print(f"Seu salário é R$ {vl_salario}")
    print(f"O IR descontará R${desc_ir:.2f}")
    print(f"O INSS descontará R$ {desc_inss:.2f}")
    print(f"O total de descontos será R$ {tot_descontos:.2f}")
    print(f"O seu salário líquido será R$ {sal_liquido:.2f}")

In [14]:
calc_salario_liquido(1800)

CÁLCULO DO SALÁRIO LÍQUIDO!!!
Seu salário é R$ 1800
O IR descontará R$126.00
O INSS descontará R$ 198.00
O total de descontos será R$ 360.00
O seu salário líquido será R$ 1440.00

In [15]:
def exibe_nome2(nome="CÁLCULO DO SALÁRIO LÍQUIDO!!!"):
    print(nome)

In [17]:
exibe_nome2()

Nenhum valor foi informado!

In [ ]:
def exibe_nome2(vl1 = 20, vl2 = 30):
    print(vl1 + vl2)

In [23]:
def calc_tabuada(valor_calc):
    for x, y in enumerate(range(valor_calc, (valor_calc*10)+1, valor_calc), start=1):
        print("{0} X {1} = {2}".format(valor_calc, x, y))

In [24]:
calc_tabuada(2)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [25]:
for x in range(2, 11):
    print(f"Cálculo da tabuada {x}")
    calc_tabuada(x)
    print("\n")

Cálculo da tabuada 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20


Cálculo da tabuada 3
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20


Cálculo da tabuada 4
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20


Cálculo da tabuada 5
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20


Cálculo da tabuada 6
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20


Cálculo da tabuada 7
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20


Cálculo da tabuada 8
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20


Cálculo da tabuada 9
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20


Cálculo da tabuada 10
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20